<a href="https://colab.research.google.com/github/parshvak26/Data-Preprocessing/blob/main/Data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Global YouTube Statistics.csv", encoding='ISO-8859-1')

###Understanding data

In [4]:
df.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   rank                                     995 non-null    int64
 1   Youtuber                                 995 non-null    object
 2   subscribers                              995 non-null    int64
 3   video views                              995 non-null    float64
 4   category                                 949 non-null    object
 5   Title                                    995 non-null    object
 6   uploads                                  995 non-null    int64
 7   Country                                  873 non-null    object
 8   Abbreviation                             873 non-null    object
 9   channel_type                             965 non-null    object
 10  video_views_rank                         994 non-null    float64
 11  country_rank                             879 non-null    float64
 12  channel_type_rank                        962 non-null    float64
 13  video_views_for_the_last_30_days         939 non-null    float64
 14  lowest_monthly_earnings                  995 non-null    float64
 15  highest_monthly_earnings                 995 non-null    float64
 16  lowest_yearly_earnings                   995 non-null    float64
 17  highest_yearly_earnings                  995 non-null    float64
 18  subscribers_for_last_30_days             658 non-null    float64
 19  created_year                             990 non-null    float64
 20  created_month                            990 non-null    object
 21  created_date                             990 non-null    float64
 22  Gross tertiary education enrollment (%)  872 non-null    float64
 23  Population                               872 non-null    float64
 24  Unemployment rate                        872 non-null    float64
 25  Urban_population                         872 non-null    float64
 26  Latitude                                 872 non-null    float64
 27  Longitude                                872 non-null    float64
dtypes: float64(18), int64(3), object(7)
memory usage: 217.8+ KB

In [6]:
df.describe(include='all')

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
count,995.00000,995,9.950000e+02,9.950000e+02,949,995,995.000000,873,873,965,...,6.580000e+02,990.000000,990,990.000000,872.000000,8.720000e+02,872.000000,8.720000e+02,872.000000,872.000000
unique,NaN,995,NaN,NaN,18,992,NaN,49,49,14,...,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,T-Series,NaN,NaN,Entertainment,Preston,NaN,United States,US,Entertainment,...,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,NaN,NaN,241,2,NaN,313,313,304,...,NaN,NaN,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,498.00000,NaN,2.298241e+07,1.103954e+10,NaN,NaN,9187.125628,NaN,NaN,NaN,...,3.490791e+05,2012.630303,NaN,15.746465,63.627752,4.303873e+08,9.279278,2.242150e+08,26.632783,-14.128146
std,287.37606,NaN,1.752611e+07,1.411084e+10,NaN,NaN,34151.352254,NaN,NaN,NaN,...,6.143554e+05,4.512503,NaN,8.777520,26.106893,4.727947e+08,4.888354,1.546874e+08,20.560533,84.760809
min,1.00000,NaN,1.230000e+07,0.000000e+00,NaN,NaN,0.000000,NaN,NaN,NaN,...,1.000000e+00,1970.000000,NaN,1.000000,7.600000,2.025060e+05,0.750000,3.558800e+04,-38.416097,-172.104629
25%,249.50000,NaN,1.450000e+07,4.288145e+09,NaN,NaN,194.500000,NaN,NaN,NaN,...,1.000000e+05,2009.000000,NaN,8.000000,36.300000,8.335541e+07,5.270000,5.590832e+07,20.593684,-95.712891
50%,498.00000,NaN,1.770000e+07,7.760820e+09,NaN,NaN,729.000000,NaN,NaN,NaN,...,2.000000e+05,2013.000000,NaN,16.000000,68.000000,3.282395e+08,9.365000,2.706630e+08,37.090240,-51.925280
75%,746.50000,NaN,2.460000e+07,1.355470e+10,NaN,NaN,2667.500000,NaN,NaN,NaN,...,4.000000e+05,2016.000000,NaN,23.000000,88.200000,3.282395e+08,14.700000,2.706630e+08,37.090240,78.962880
max,995.00000,NaN,2.450000e+08,2.280000e+11,NaN,NaN,301308.000000,NaN,NaN,NaN,...,8.000000e+06,2022.000000,NaN,31.000000,113.100000,1.397715e+09,14.720000,8.429340e+08,61.924110,138.252924

#Null values

## Null values

In [7]:
df.drop(['Latitude', 'Longitude','country_rank','channel_type_rank'], axis=1, inplace=True)

In [8]:
df_copy = df.copy()

In [9]:
columns = df.columns

In [10]:
for i in columns:
  print(i, df[i].nunique())

rank 995
Youtuber 995
subscribers 289
video views 988
category 18
Title 992
uploads 777
Country 49
Abbreviation 49
channel_type 14
video_views_rank 953
video_views_for_the_last_30_days 908
lowest_monthly_earnings 557
highest_monthly_earnings 736
lowest_yearly_earnings 757
highest_yearly_earnings 419
subscribers_for_last_30_days 53
created_year 19
created_month 12
created_date 31
Gross tertiary education enrollment (%) 47
Population 48
Unemployment rate 47
Urban_population 48

As we can see category, created month, channel_type, are categorical column, others are numerical or datetime column.

In [11]:
categorical = ['created_year','created_month','created_date', 'channel_type', 'category', 'Country','Abbreviation']

In [12]:
pd.set_option('display.max_columns', None)

In [13]:
df_categorical = df[categorical]

In [14]:
df_categorical.isnull().sum()

created_year       5
created_month      5
created_date       5
channel_type      30
category          46
Country          122
Abbreviation     122
dtype: int64

In [15]:
mode_value = df_categorical['created_year'].mode().iloc[0]
print(mode_value)

2014.0

In [16]:
for i in categorical:
  mode_value = df_categorical[i].mode().iloc[0]
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)

<ipython-input-16-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-16-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-16-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-16-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-16-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-16-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-16-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)

In [17]:
df.isnull().sum()

rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    46
Title                                        0
uploads                                      0
Country                                    122
Abbreviation                               122
channel_type                                30
video_views_rank                             1
video_views_for_the_last_30_days            56
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               337
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    123
Population                                 123
Unemployment rate                          123
Urban_population                           123
dtype: int64

In [18]:
numerical = ['video_views_for_the_last_30_days','subscribers_for_last_30_days', 'Gross tertiary education enrollment (%)', 'Population', 'Unemployment rate', 'Urban_population']

In [19]:
for i in numerical:
  mean_value = df[i].mean()
  df.loc[:, i].fillna(mean_value, inplace=True)

In [20]:
df.drop(categorical, axis=1, inplace=True)

In [21]:
df = pd.concat([df, df_categorical], axis=1)

In [22]:
df.dropna(axis=0, inplace=True)

In [23]:
df.isnull().sum()

rank                                       0
Youtuber                                   0
subscribers                                0
video views                                0
Title                                      0
uploads                                    0
video_views_rank                           0
video_views_for_the_last_30_days           0
lowest_monthly_earnings                    0
highest_monthly_earnings                   0
lowest_yearly_earnings                     0
highest_yearly_earnings                    0
subscribers_for_last_30_days               0
Gross tertiary education enrollment (%)    0
Population                                 0
Unemployment rate                          0
Urban_population                           0
created_year                               0
created_month                              0
created_date                               0
channel_type                               0
category                                   0
Country                                    0
Abbreviation                               0
dtype: int64

##Ffill method

In [24]:
df = df_copy.copy()

In [25]:
df.isnull().sum()

rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    46
Title                                        0
uploads                                      0
Country                                    122
Abbreviation                               122
channel_type                                30
video_views_rank                             1
video_views_for_the_last_30_days            56
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               337
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    123
Population                                 123
Unemployment rate                          123
Urban_population                           123
dtype: int64

In [26]:
df = df.ffill()

##Bfill method

In [27]:
df = df_copy.copy()

In [28]:
df.isnull().sum()

rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    46
Title                                        0
uploads                                      0
Country                                    122
Abbreviation                               122
channel_type                                30
video_views_rank                             1
video_views_for_the_last_30_days            56
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               337
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    123
Population                                 123
Unemployment rate                          123
Urban_population                           123
dtype: int64

In [29]:
df = df.bfill()

## Knnimputation

In [30]:
df = df_copy.copy()

In [31]:
df.isnull().sum()

rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    46
Title                                        0
uploads                                      0
Country                                    122
Abbreviation                               122
channel_type                                30
video_views_rank                             1
video_views_for_the_last_30_days            56
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               337
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    123
Population                                 123
Unemployment rate                          123
Urban_population                           123
dtype: int64

In [32]:
for i in categorical:
  mode_value = df[i].mode().iloc[0]
  df.loc[:, i].fillna(mode_value, inplace=True)

In [33]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=5)
df[numerical] = imputer.fit_transform(df[numerical])

In [34]:
df.dropna(inplace=True)

In [35]:
df.isnull().sum()

rank                                       0
Youtuber                                   0
subscribers                                0
video views                                0
category                                   0
Title                                      0
uploads                                    0
Country                                    0
Abbreviation                               0
channel_type                               0
video_views_rank                           0
video_views_for_the_last_30_days           0
lowest_monthly_earnings                    0
highest_monthly_earnings                   0
lowest_yearly_earnings                     0
highest_yearly_earnings                    0
subscribers_for_last_30_days               0
created_year                               0
created_month                              0
created_date                               0
Gross tertiary education enrollment (%)    0
Population                                 0
Unemployment rate                          0
Urban_population                           0
dtype: int64

#Dealing with outlier

In [36]:
df_copy = df.copy()

In [37]:
df.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,1.0,2.258000e+09,564600.0,9000000.00,6800000.00,1.084000e+08,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,4055159.0,1.200000e+01,0.0,0.05,0.04,5.800000e-01,24.4,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,48.0,1.348000e+09,337000.0,5400000.00,4000000.00,6.470000e+07,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,2.0,1.975000e+09,493800.0,7900000.00,5900000.00,9.480000e+07,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,3.0,1.824000e+09,455900.0,7300000.00,5500000.00,8.750000e+07,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0

###Quantile q1 q3 replacement

In [38]:
for i in df.columns:
  if df[i].dtype != 'object':
    Q1 = df[i].quantile(0.25)
    Q3 = df[i].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = df[(df[i] < lower_bound) | (df[i] > upper_bound)]
    outlier_count = len(outliers)
    print(i.ljust(40, ' '), outlier_count)

rank                                     0
subscribers                              76
video views                              52
uploads                                  132
video_views_rank                         178
video_views_for_the_last_30_days         89
lowest_monthly_earnings                  99
highest_monthly_earnings                 99
lowest_yearly_earnings                   102
highest_yearly_earnings                  99
subscribers_for_last_30_days             90
created_year                             1
created_date                             0
Gross tertiary education enrollment (%)  0
Population                               198
Unemployment rate                        0
Urban_population                         1

In [39]:
for i in df.columns:
  if df[i].dtype != 'object':
    Q1 = df[i].quantile(0.25)
    Q3 = df[i].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    df[i] = df[i].apply(lambda x: Q1 if x < lower_bound else (Q3 if x > upper_bound else x))

    outliers = df[(df[i] < lower_bound) | (df[i] > upper_bound)]
    outlier_count = len(outliers)
    print(i.ljust(40, ' '), outlier_count)

rank                                     0
subscribers                              0
video views                              0
uploads                                  0
video_views_rank                         0
video_views_for_the_last_30_days         0
lowest_monthly_earnings                  0
highest_monthly_earnings                 0
lowest_yearly_earnings                   0
highest_yearly_earnings                  0
subscribers_for_last_30_days             0
created_year                             0
created_date                             0
Gross tertiary education enrollment (%)  0
Population                               0
Unemployment rate                        0
Urban_population                         0

#Duplicate

In [40]:
df_copy = df.copy()

This function identifies duplicate rows based on all columns (by default) or a subset of columns and returns a Boolean Series indicating which rows are duplicates.

In [41]:
df.duplicated(subset=None, keep = 'first')

0      False
1      False
2      False
3      False
4      False
       ...
990    False
991    False
992    False
993    False
994    False
Length: 994, dtype: bool

In [42]:
df = df_copy.copy()

This function removes duplicate rows based on all columns (by default) or a subset of columns. You can specify which duplicates to keep using the keep parameter ('first', 'last', or False).

In [43]:
df.drop_duplicates(subset=None, keep='first', inplace=False)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population
0,1,T-Series,24600000.0,1.355878e+10,Music,T-Series,2692.25,India,IN,Music,1.0,1.756103e+08,37900.0,606800.00,455100.00,7300000.00,300000.0,2006.0,Mar,13.0,28.1,328239523.0,5.36,471031528.0
1,2,YouTube Movies,24600000.0,0.000000e+00,Film & Animation,youtubemovies,1.00,United States,US,Games,3584.5,1.200000e+01,0.0,0.05,0.04,0.58,24.4,2006.0,Mar,5.0,88.2,328239523.0,14.70,270663028.0
2,3,MrBeast,24600000.0,1.355878e+10,Entertainment,MrBeast,741.00,United States,US,Entertainment,48.0,1.756103e+08,37900.0,606800.00,455100.00,7300000.00,300000.0,2012.0,Feb,20.0,88.2,328239523.0,14.70,270663028.0
3,4,Cocomelon - Nursery Rhymes,24600000.0,1.355878e+10,Education,Cocomelon - Nursery Rhymes,966.00,United States,US,Education,2.0,1.756103e+08,37900.0,606800.00,455100.00,7300000.00,300000.0,2006.0,Sep,1.0,88.2,328239523.0,14.70,270663028.0
4,5,SET India,24600000.0,1.355878e+10,Shows,SET India,2692.25,India,IN,Entertainment,3.0,1.756103e+08,37900.0,606800.00,455100.00,7300000.00,300000.0,2006.0,Sep,20.0,28.1,328239523.0,5.36,471031528.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000.0,9.029610e+09,Sports,Natan por Aï¿,1200.00,Brazil,BR,Entertainment,525.0,1.756103e+08,37900.0,606800.00,455100.00,7300000.00,300000.0,2017.0,Feb,12.0,51.3,212559417.0,12.08,183241641.0
991,992,Free Fire India Official,12300000.0,1.674410e+09,People & Blogs,Free Fire India Official,1500.00,India,IN,Games,6141.0,6.473500e+07,16200.0,258900.00,194200.00,3100000.00,300000.0,2018.0,Sep,14.0,28.1,328239523.0,5.36,471031528.0
992,993,Panda,12300000.0,2.214684e+09,Entertainment,HybridPanda,2452.00,United Kingdom,GB,Games,3584.5,6.703500e+04,17.0,268.00,201.00,3200.00,1000.0,2006.0,Sep,11.0,60.0,66834405.0,3.85,55908316.0
993,994,RobTopGames,12300000.0,3.741235e+08,Gaming,RobTopGames,39.00,Sweden,SE,Games,3584.5,3.871000e+06,968.0,15500.00,11600.00,185800.00,100000.0,2012.0,May,9.0,67.0,10285453.0,6.48,9021165.0
994,995,Make Joke Of,12300000.0,2.129774e+09,Comedy,Make Joke Of,62.00,India,IN,Comedy,4568.0,2.400000e+07,6000.0,96000.00,72000.00,1200000.00,100000.0,2017.0,Aug,1.0,28.1,328239523.0,5.36,471031528.0

In [44]:
df = df_copy.copy()

This function is used to count duplicate in df

In [45]:
df.duplicated().sum()

0

# Feature scaling

### MIn-MAx scaling

In [46]:
df_copy = df.copy()

In [47]:
df = df_copy.copy()

In [48]:
numeric_columns = df.select_dtypes(include=['number'])

In [49]:
numeric_columns

,rank,subscribers,video views,uploads,video_views_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population
0,1,24600000.0,1.355878e+10,2692.25,1.0,1.756103e+08,37900.0,606800.00,455100.00,7300000.00,300000.0,2006.0,13.0,28.1,328239523.0,5.36,471031528.0
1,2,24600000.0,0.000000e+00,1.00,3584.5,1.200000e+01,0.0,0.05,0.04,0.58,24.4,2006.0,5.0,88.2,328239523.0,14.70,270663028.0
2,3,24600000.0,1.355878e+10,741.00,48.0,1.756103e+08,37900.0,606800.00,455100.00,7300000.00,300000.0,2012.0,20.0,88.2,328239523.0,14.70,270663028.0
3,4,24600000.0,1.355878e+10,966.00,2.0,1.756103e+08,37900.0,606800.00,455100.00,7300000.00,300000.0,2006.0,1.0,88.2,328239523.0,14.70,270663028.0
4,5,24600000.0,1.355878e+10,2692.25,3.0,1.756103e+08,37900.0,606800.00,455100.00,7300000.00,300000.0,2006.0,20.0,28.1,328239523.0,5.36,471031528.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,12300000.0,9.029610e+09,1200.00,525.0,1.756103e+08,37900.0,606800.00,455100.00,7300000.00,300000.0,2017.0,12.0,51.3,212559417.0,12.08,183241641.0
991,992,12300000.0,1.674410e+09,1500.00,6141.0,6.473500e+07,16200.0,258900.00,194200.00,3100000.00,300000.0,2018.0,14.0,28.1,328239523.0,5.36,471031528.0
992,993,12300000.0,2.214684e+09,2452.00,3584.5,6.703500e+04,17.0,268.00,201.00,3200.00,1000.0,2006.0,11.0,60.0,66834405.0,3.85,55908316.0
993,994,12300000.0,3.741235e+08,39.00,3584.5,3.871000e+06,968.0,15500.00,11600.00,185800.00,100000.0,2012.0,9.0,67.0,10285453.0,6.48,9021165.0
994,995,12300000.0,2.129774e+09,62.00,4568.0,2.400000e+07,6000.0,96000.00,72000.00,1200000.00,100000.0,2017.0,1.0,28.1,328239523.0,5.36,471031528.0

In [50]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[numeric_columns.columns] = scaler.fit_transform(numeric_columns)

### Standard scaling

In [53]:
df = df_copy.copy()

In [ ]:
numeric_columns = df.select_dtypes(include=['number'])

In [54]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[numeric_columns.columns] = scaler.fit_transform(numeric_columns)

In [56]:
df.head(5)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population
0,-1.729205,T-Series,0.756355,0.727274,Music,T-Series,0.974174,India,IN,Music,-0.994828,0.849629,0.825687,0.827409,0.849736,0.830544,0.893722,-1.553988,Mar,-0.310218,-1.416259,0.738013,-0.832872,1.709673
1,-1.725724,YouTube Movies,0.756355,-1.478445,Film & Animation,youtubemovies,-0.940999,United States,US,Games,1.148568,-1.039922,-0.985454,-0.985855,-0.994741,-0.985463,-1.207597,-1.553988,Mar,-1.222853,1.000142,0.738013,1.180563,0.335468
2,-1.722243,MrBeast,0.756355,0.727274,Entertainment,MrBeast,-0.414393,United States,US,Entertainment,-0.966716,0.849629,0.825687,0.827409,0.849736,0.830544,0.893722,-0.157155,Feb,0.488338,1.000142,0.738013,1.180563,0.335468
3,-1.718762,Cocomelon - Nursery Rhymes,0.756355,0.727274,Education,Cocomelon - Nursery Rhymes,-0.254277,United States,US,Education,-0.994230,0.849629,0.825687,0.827409,0.849736,0.830544,0.893722,-1.553988,Sep,-1.679170,1.000142,0.738013,1.180563,0.335468
4,-1.715281,SET India,0.756355,0.727274,Shows,SET India,0.974174,India,IN,Entertainment,-0.993632,0.849629,0.825687,0.827409,0.849736,0.830544,0.893722,-1.553988,Sep,0.488338,-1.416259,0.738013,-0.832872,1.709673

### Robust scaling

In [57]:
df = df_copy.copy()

In [58]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
df[numeric_columns.columns] = scaler.fit_transform(numeric_columns)

In [59]:
df.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population
0,-0.99799,T-Series,0.683168,0.626536,Music,T-Series,0.791325,India,IN,Music,-0.280748,0.707959,0.699360,0.699787,0.699816,0.693625,1.000000,-1.000000,Mar,-0.200000,-0.729572,0.0,-0.419623,1.050506
1,-0.99598,YouTube Movies,0.683168,-0.838805,Film & Animation,youtubemovies,-0.294540,United States,US,Games,0.819371,-0.422676,-0.378109,-0.377819,-0.377790,-0.383707,-0.499878,-1.000000,Mar,-0.733333,0.439689,0.0,0.580377,0.000000
2,-0.99397,MrBeast,0.683168,0.626536,Entertainment,MrBeast,0.004035,United States,US,Entertainment,-0.266319,0.707959,0.699360,0.699787,0.699816,0.693625,1.000000,-0.142857,Feb,0.266667,0.439689,0.0,0.580377,0.000000
3,-0.99196,Cocomelon - Nursery Rhymes,0.683168,0.626536,Education,Cocomelon - Nursery Rhymes,0.094818,United States,US,Education,-0.280441,0.707959,0.699360,0.699787,0.699816,0.693625,1.000000,-1.000000,Sep,-1.000000,0.439689,0.0,0.580377,0.000000
4,-0.98995,SET India,0.683168,0.626536,Shows,SET India,0.791325,India,IN,Entertainment,-0.280134,0.707959,0.699360,0.699787,0.699816,0.693625,1.000000,-1.000000,Sep,0.266667,-0.729572,0.0,-0.419623,1.050506