<a href="https://colab.research.google.com/github/parshvak26/Data-Preprocessing/blob/main/Data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [178]:
df = pd.read_csv("/content/drive/MyDrive/Global YouTube Statistics.csv", encoding='ISO-8859-1')

###Understanding data

In [159]:
df.head()

,rank,Youtuber,subscribers,video views,Title,uploads,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,created_year,created_month,created_date,channel_type,category,Country,Abbreviation
0,1,T-Series,245000000,2.280000e+11,T-Series,20082,2.258000e+09,564600.0,9000000.00,6800000.00,1.084000e+08,2.000000e+06,28.1,1.366418e+09,5.36,471031528.0,2006.0,Mar,13.0,Music,Music,India,IN
1,2,YouTube Movies,170000000,0.000000e+00,youtubemovies,1,1.200000e+01,0.0,0.05,0.04,5.800000e-01,3.490791e+05,88.2,3.282395e+08,14.70,270663028.0,2006.0,Mar,5.0,Games,Film & Animation,United States,US
2,3,MrBeast,166000000,2.836884e+10,MrBeast,741,1.348000e+09,337000.0,5400000.00,4000000.00,6.470000e+07,8.000000e+06,88.2,3.282395e+08,14.70,270663028.0,2012.0,Feb,20.0,Entertainment,Entertainment,United States,US
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Cocomelon - Nursery Rhymes,966,1.975000e+09,493800.0,7900000.00,5900000.00,9.480000e+07,1.000000e+06,88.2,3.282395e+08,14.70,270663028.0,2006.0,Sep,1.0,Education,Education,United States,US
4,5,SET India,159000000,1.480000e+11,SET India,116536,1.824000e+09,455900.0,7300000.00,5500000.00,8.750000e+07,1.000000e+06,28.1,1.366418e+09,5.36,471031528.0,2006.0,Sep,20.0,Entertainment,Shows,India,IN

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 23 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   rank                                     995 non-null    int64
 1   Youtuber                                 995 non-null    object
 2   subscribers                              995 non-null    int64
 3   video views                              995 non-null    float64
 4   Title                                    995 non-null    object
 5   uploads                                  995 non-null    int64
 6   video_views_for_the_last_30_days         995 non-null    float64
 7   lowest_monthly_earnings                  995 non-null    float64
 8   highest_monthly_earnings                 995 non-null    float64
 9   lowest_yearly_earnings                   995 non-null    float64
 10  highest_yearly_earnings                  995 non-null    float64
 11  subscribers_for_last_30_days             995 non-null    float64
 12  Gross tertiary education enrollment (%)  995 non-null    float64
 13  Population                               995 non-null    float64
 14  Unemployment rate                        995 non-null    float64
 15  Urban_population                         995 non-null    float64
 16  created_year                             995 non-null    float64
 17  created_month                            995 non-null    object
 18  created_date                             995 non-null    float64
 19  channel_type                             995 non-null    object
 20  category                                 995 non-null    object
 21  Country                                  995 non-null    object
 22  Abbreviation                             995 non-null    object
dtypes: float64(13), int64(3), object(7)
memory usage: 178.9+ KB

In [161]:
df.describe(include='all')

,rank,Youtuber,subscribers,video views,Title,uploads,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,created_year,created_month,created_date,channel_type,category,Country,Abbreviation
count,995.00000,995,9.950000e+02,9.950000e+02,995,995.000000,9.950000e+02,995.000000,9.950000e+02,9.950000e+02,9.950000e+02,9.950000e+02,995.000000,9.950000e+02,995.000000,9.950000e+02,995.000000,995,995.000000,995,995,995,995
unique,NaN,995,NaN,NaN,992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,14,18,49,49
top,NaN,T-Series,NaN,NaN,Preston,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jan,NaN,Entertainment,Entertainment,United States,US
freq,NaN,1,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106,NaN,334,287,435,435
mean,498.00000,NaN,2.298241e+07,1.103954e+10,NaN,9187.125628,1.756103e+08,36886.148281,5.898078e+05,4.422574e+05,7.081814e+06,3.490791e+05,63.627752,4.303873e+08,9.279278,2.242150e+08,2012.637186,NaN,15.712563,NaN,NaN,NaN,NaN
std,287.37606,NaN,1.752611e+07,1.411084e+10,NaN,34151.352254,4.044792e+08,71858.724092,1.148622e+06,8.612161e+05,1.379704e+07,4.994698e+05,24.438305,4.425767e+08,4.575921,1.448007e+08,4.502182,NaN,8.768415,NaN,NaN,NaN,NaN
min,1.00000,NaN,1.230000e+07,0.000000e+00,NaN,0.000000,1.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,7.600000,2.025060e+05,0.750000,3.558800e+04,1970.000000,NaN,1.000000,NaN,NaN,NaN,NaN
25%,249.50000,NaN,1.450000e+07,4.288145e+09,NaN,194.500000,2.232300e+07,2700.000000,4.350000e+04,3.265000e+04,5.217500e+05,1.000000e+05,40.200000,1.260140e+08,5.360000,1.026269e+08,2009.000000,NaN,8.000000,NaN,NaN,NaN,NaN
50%,498.00000,NaN,1.770000e+07,7.760820e+09,NaN,729.000000,7.406200e+07,13300.000000,2.127000e+05,1.595000e+05,2.600000e+06,3.490791e+05,63.627752,3.282395e+08,9.279278,2.242150e+08,2013.000000,NaN,16.000000,NaN,NaN,NaN,NaN
75%,746.50000,NaN,2.460000e+07,1.355470e+10,NaN,2667.500000,1.756103e+08,37900.000000,6.068000e+05,4.551000e+05,7.300000e+06,3.490791e+05,88.200000,4.303873e+08,14.700000,2.706630e+08,2016.000000,NaN,23.000000,NaN,NaN,NaN,NaN
max,995.00000,NaN,2.450000e+08,2.280000e+11,NaN,301308.000000,6.589000e+09,850900.000000,1.360000e+07,1.020000e+07,1.634000e+08,8.000000e+06,113.100000,1.397715e+09,14.720000,8.429340e+08,2022.000000,NaN,31.000000,NaN,NaN,NaN,NaN

## Null values

In [179]:
df_copy = df.copy()

In [180]:
columns = df.columns

In [181]:
for i in columns:
  print(i, df[i].nunique())

rank 995
Youtuber 995
subscribers 289
video views 988
category 18
Title 992
uploads 777
Country 49
Abbreviation 49
channel_type 14
video_views_rank 953
country_rank 246
channel_type_rank 286
video_views_for_the_last_30_days 908
lowest_monthly_earnings 557
highest_monthly_earnings 736
lowest_yearly_earnings 757
highest_yearly_earnings 419
subscribers_for_last_30_days 53
created_year 19
created_month 12
created_date 31
Gross tertiary education enrollment (%) 47
Population 48
Unemployment rate 47
Urban_population 48
Latitude 48
Longitude 48

As we can see category, created month, channel_type, are categorical column, others are numerical or datetime column.

In [183]:
categorical = ['created_year','created_month','created_date', 'channel_type', 'category', 'Country','Abbreviation']

In [184]:
pd.set_option('display.max_columns', None)

In [185]:
df_categorical = df[categorical]

In [186]:
df_categorical.isnull().sum()

created_year       5
created_month      5
created_date       5
channel_type      30
category          46
Country          122
Abbreviation     122
dtype: int64

In [187]:
mode_value = df_categorical['created_year'].mode().iloc[0]
print(mode_value)

2014.0

In [188]:
for i in categorical:
  mode_value = df_categorical[i].mode().iloc[0]
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)

<ipython-input-188-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-188-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-188-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-188-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-188-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-188-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-188-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)

In [189]:
df.isnull().sum()

rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    46
Title                                        0
uploads                                      0
Country                                    122
Abbreviation                               122
channel_type                                30
video_views_rank                             1
country_rank                               116
channel_type_rank                           33
video_views_for_the_last_30_days            56
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               337
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    123
Population                                 123
Unemployment rate                          123
Urban_population                           123
Latitude                                   123
Longitude                                  123
dtype: int64

In [190]:
numerical = ['video_views_for_the_last_30_days','subscribers_for_last_30_days', 'Gross tertiary education enrollment (%)', 'Population', 'Unemployment rate', 'Urban_population']

In [191]:
for i in numerical:
  mean_value = df[i].mean()
  df.loc[:, i].fillna(mean_value, inplace=True)

In [194]:
df.drop(['Latitude', 'Longitude','country_rank','channel_type_rank'], axis=1, inplace=True)

In [195]:
df.drop(categorical, axis=1, inplace=True)

In [196]:
df = pd.concat([df, df_categorical], axis=1)

In [199]:
df.dropna(axis=0, inplace=True)

In [200]:
df.isnull().sum()

rank                                       0
Youtuber                                   0
subscribers                                0
video views                                0
Title                                      0
uploads                                    0
video_views_rank                           0
video_views_for_the_last_30_days           0
lowest_monthly_earnings                    0
highest_monthly_earnings                   0
lowest_yearly_earnings                     0
highest_yearly_earnings                    0
subscribers_for_last_30_days               0
Gross tertiary education enrollment (%)    0
Population                                 0
Unemployment rate                          0
Urban_population                           0
created_year                               0
created_month                              0
created_date                               0
channel_type                               0
category                                   0
Country                                    0
Abbreviation                               0
dtype: int64

##Other methods

In [205]:
df = df_copy.copy()

In [208]:
df.isnull().sum()

rank                                       0
Youtuber                                   0
subscribers                                0
video views                                0
category                                   0
Title                                      0
uploads                                    0
Country                                    0
Abbreviation                               0
channel_type                               0
video_views_rank                           0
country_rank                               0
channel_type_rank                          0
video_views_for_the_last_30_days           0
lowest_monthly_earnings                    0
highest_monthly_earnings                   0
lowest_yearly_earnings                     0
highest_yearly_earnings                    0
subscribers_for_last_30_days               0
created_year                               0
created_month                              0
created_date                               0
Gross tertiary education enrollment (%)    0
Population                                 0
Unemployment rate                          0
Urban_population                           0
Latitude                                   0
Longitude                                  0
dtype: int64

In [207]:
df = df.ffill()