<a href="https://colab.research.google.com/github/parshvak26/Data-Preprocessing/blob/main/Data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [60]:
df = pd.read_csv("/content/drive/MyDrive/Global YouTube Statistics.csv", encoding='ISO-8859-1')

###Understanding data

In [4]:
df.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   rank                                     995 non-null    int64
 1   Youtuber                                 995 non-null    object
 2   subscribers                              995 non-null    int64
 3   video views                              995 non-null    float64
 4   category                                 949 non-null    object
 5   Title                                    995 non-null    object
 6   uploads                                  995 non-null    int64
 7   Country                                  873 non-null    object
 8   Abbreviation                             873 non-null    object
 9   channel_type                             965 non-null    object
 10  video_views_rank                         994 non-null    float64
 11  country_rank                             879 non-null    float64
 12  channel_type_rank                        962 non-null    float64
 13  video_views_for_the_last_30_days         939 non-null    float64
 14  lowest_monthly_earnings                  995 non-null    float64
 15  highest_monthly_earnings                 995 non-null    float64
 16  lowest_yearly_earnings                   995 non-null    float64
 17  highest_yearly_earnings                  995 non-null    float64
 18  subscribers_for_last_30_days             658 non-null    float64
 19  created_year                             990 non-null    float64
 20  created_month                            990 non-null    object
 21  created_date                             990 non-null    float64
 22  Gross tertiary education enrollment (%)  872 non-null    float64
 23  Population                               872 non-null    float64
 24  Unemployment rate                        872 non-null    float64
 25  Urban_population                         872 non-null    float64
 26  Latitude                                 872 non-null    float64
 27  Longitude                                872 non-null    float64
dtypes: float64(18), int64(3), object(7)
memory usage: 217.8+ KB

In [6]:
df.describe(include='all')

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
count,995.00000,995,9.950000e+02,9.950000e+02,949,995,995.000000,873,873,965,...,6.580000e+02,990.000000,990,990.000000,872.000000,8.720000e+02,872.000000,8.720000e+02,872.000000,872.000000
unique,NaN,995,NaN,NaN,18,992,NaN,49,49,14,...,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,T-Series,NaN,NaN,Entertainment,Preston,NaN,United States,US,Entertainment,...,NaN,NaN,Jan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,NaN,NaN,241,2,NaN,313,313,304,...,NaN,NaN,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,498.00000,NaN,2.298241e+07,1.103954e+10,NaN,NaN,9187.125628,NaN,NaN,NaN,...,3.490791e+05,2012.630303,NaN,15.746465,63.627752,4.303873e+08,9.279278,2.242150e+08,26.632783,-14.128146
std,287.37606,NaN,1.752611e+07,1.411084e+10,NaN,NaN,34151.352254,NaN,NaN,NaN,...,6.143554e+05,4.512503,NaN,8.777520,26.106893,4.727947e+08,4.888354,1.546874e+08,20.560533,84.760809
min,1.00000,NaN,1.230000e+07,0.000000e+00,NaN,NaN,0.000000,NaN,NaN,NaN,...,1.000000e+00,1970.000000,NaN,1.000000,7.600000,2.025060e+05,0.750000,3.558800e+04,-38.416097,-172.104629
25%,249.50000,NaN,1.450000e+07,4.288145e+09,NaN,NaN,194.500000,NaN,NaN,NaN,...,1.000000e+05,2009.000000,NaN,8.000000,36.300000,8.335541e+07,5.270000,5.590832e+07,20.593684,-95.712891
50%,498.00000,NaN,1.770000e+07,7.760820e+09,NaN,NaN,729.000000,NaN,NaN,NaN,...,2.000000e+05,2013.000000,NaN,16.000000,68.000000,3.282395e+08,9.365000,2.706630e+08,37.090240,-51.925280
75%,746.50000,NaN,2.460000e+07,1.355470e+10,NaN,NaN,2667.500000,NaN,NaN,NaN,...,4.000000e+05,2016.000000,NaN,23.000000,88.200000,3.282395e+08,14.700000,2.706630e+08,37.090240,78.962880
max,995.00000,NaN,2.450000e+08,2.280000e+11,NaN,NaN,301308.000000,NaN,NaN,NaN,...,8.000000e+06,2022.000000,NaN,31.000000,113.100000,1.397715e+09,14.720000,8.429340e+08,61.924110,138.252924

#Null values

## Null values

In [61]:
df.drop(['Latitude', 'Longitude','country_rank','channel_type_rank'], axis=1, inplace=True)

In [62]:
df_copy = df.copy()

In [63]:
columns = df.columns

In [64]:
for i in columns:
  print(i, df[i].nunique())

rank 995
Youtuber 995
subscribers 289
video views 988
category 18
Title 992
uploads 777
Country 49
Abbreviation 49
channel_type 14
video_views_rank 953
video_views_for_the_last_30_days 908
lowest_monthly_earnings 557
highest_monthly_earnings 736
lowest_yearly_earnings 757
highest_yearly_earnings 419
subscribers_for_last_30_days 53
created_year 19
created_month 12
created_date 31
Gross tertiary education enrollment (%) 47
Population 48
Unemployment rate 47
Urban_population 48

As we can see category, created month, channel_type, are categorical column, others are numerical or datetime column.

In [65]:
categorical = ['created_year','created_month','created_date', 'channel_type', 'category', 'Country','Abbreviation']

In [66]:
pd.set_option('display.max_columns', None)

In [67]:
df_categorical = df[categorical]

In [68]:
df_categorical.isnull().sum()

created_year       5
created_month      5
created_date       5
channel_type      30
category          46
Country          122
Abbreviation     122
dtype: int64

In [69]:
mode_value = df_categorical['created_year'].mode().iloc[0]
print(mode_value)

2014.0

In [70]:
for i in categorical:
  mode_value = df_categorical[i].mode().iloc[0]
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)

<ipython-input-70-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-70-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-70-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-70-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-70-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-70-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)
<ipython-input-70-aa7aad920610>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical.loc[:, i].fillna(mode_value, inplace=True)

In [71]:
df.isnull().sum()

rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    46
Title                                        0
uploads                                      0
Country                                    122
Abbreviation                               122
channel_type                                30
video_views_rank                             1
video_views_for_the_last_30_days            56
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               337
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    123
Population                                 123
Unemployment rate                          123
Urban_population                           123
dtype: int64

In [72]:
numerical = ['video_views_for_the_last_30_days','subscribers_for_last_30_days', 'Gross tertiary education enrollment (%)', 'Population', 'Unemployment rate', 'Urban_population']

In [73]:
for i in numerical:
  mean_value = df[i].mean()
  df.loc[:, i].fillna(mean_value, inplace=True)

In [74]:
df.drop(categorical, axis=1, inplace=True)

In [75]:
df = pd.concat([df, df_categorical], axis=1)

In [76]:
df.dropna(axis=0, inplace=True)

In [77]:
df.isnull().sum()

rank                                       0
Youtuber                                   0
subscribers                                0
video views                                0
Title                                      0
uploads                                    0
video_views_rank                           0
video_views_for_the_last_30_days           0
lowest_monthly_earnings                    0
highest_monthly_earnings                   0
lowest_yearly_earnings                     0
highest_yearly_earnings                    0
subscribers_for_last_30_days               0
Gross tertiary education enrollment (%)    0
Population                                 0
Unemployment rate                          0
Urban_population                           0
created_year                               0
created_month                              0
created_date                               0
channel_type                               0
category                                   0
Country                                    0
Abbreviation                               0
dtype: int64

##Ffill method

In [78]:
df = df_copy.copy()

In [79]:
df.isnull().sum()

rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    46
Title                                        0
uploads                                      0
Country                                    122
Abbreviation                               122
channel_type                                30
video_views_rank                             1
video_views_for_the_last_30_days            56
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               337
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    123
Population                                 123
Unemployment rate                          123
Urban_population                           123
dtype: int64

In [80]:
df = df.ffill()

##Bfill method

In [81]:
df = df_copy.copy()

In [82]:
df.isnull().sum()

rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    46
Title                                        0
uploads                                      0
Country                                    122
Abbreviation                               122
channel_type                                30
video_views_rank                             1
video_views_for_the_last_30_days            56
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               337
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    123
Population                                 123
Unemployment rate                          123
Urban_population                           123
dtype: int64

In [83]:
df = df.bfill()

## Knnimputation

In [84]:
df = df_copy.copy()

In [85]:
df.isnull().sum()

rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    46
Title                                        0
uploads                                      0
Country                                    122
Abbreviation                               122
channel_type                                30
video_views_rank                             1
video_views_for_the_last_30_days            56
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               337
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    123
Population                                 123
Unemployment rate                          123
Urban_population                           123
dtype: int64

In [86]:
for i in categorical:
  mode_value = df[i].mode().iloc[0]
  df.loc[:, i].fillna(mode_value, inplace=True)

In [87]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=5)
df[numerical] = imputer.fit_transform(df[numerical])

In [88]:
df.dropna(inplace=True)

In [89]:
df.isnull().sum()

rank                                       0
Youtuber                                   0
subscribers                                0
video views                                0
category                                   0
Title                                      0
uploads                                    0
Country                                    0
Abbreviation                               0
channel_type                               0
video_views_rank                           0
video_views_for_the_last_30_days           0
lowest_monthly_earnings                    0
highest_monthly_earnings                   0
lowest_yearly_earnings                     0
highest_yearly_earnings                    0
subscribers_for_last_30_days               0
created_year                               0
created_month                              0
created_date                               0
Gross tertiary education enrollment (%)    0
Population                                 0
Unemployment rate                          0
Urban_population                           0
dtype: int64

#Dealing with outlier

In [90]:
df_copy = df.copy()

### ANother method

In [91]:
df = df_copy.copy()

In [92]:
for i in df.columns:
  if df[i].dtype != 'object':
    Q1 = df[i].quantile(0.25)
    Q3 = df[i].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = df[(df[i] < lower_bound) | (df[i] > upper_bound)]
    outlier_count = len(outliers)
    print(i.ljust(40, ' '), outlier_count)

rank                                     0
subscribers                              76
video views                              52
uploads                                  132
video_views_rank                         178
video_views_for_the_last_30_days         89
lowest_monthly_earnings                  99
highest_monthly_earnings                 99
lowest_yearly_earnings                   102
highest_yearly_earnings                  99
subscribers_for_last_30_days             90
created_year                             1
created_date                             0
Gross tertiary education enrollment (%)  0
Population                               198
Unemployment rate                        0
Urban_population                         1

In [93]:
import numpy as np

In [94]:
for i in df.columns:
  if df[i].dtype != 'object':
    df[i] = np.log1p(df[i])
    Q1 = df[i].quantile(0.25)
    Q3 = df[i].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = df[(df[i] < lower_bound) | (df[i] > upper_bound)]
    outlier_count = len(outliers)

In [95]:
df.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population
0,0.693147,T-Series,19.316769,26.152611,Music,T-Series,9.907629,India,IN,Music,0.693147,21.537745,13.243875,16.012735,15.732433,18.501339,14.508658,7.604396,Mar,2.639057,3.370738,21.035458,1.850028,19.970436
1,1.098612,YouTube Movies,18.951309,0.000000,Film & Animation,youtubemovies,0.693147,United States,US,Games,15.215501,2.564949,0.000000,0.048790,0.039221,0.457425,3.234749,7.604396,Mar,1.791759,4.490881,19.609254,2.753661,19.416385
2,1.386294,MrBeast,18.927498,24.068557,Entertainment,MrBeast,6.609349,United States,US,Entertainment,3.891820,21.021888,12.727841,15.501910,15.201805,17.985272,15.894952,7.607381,Feb,3.044522,4.490881,19.609254,2.753661,19.416385
3,1.609438,Cocomelon - Nursery Rhymes,18.903107,25.823132,Education,Cocomelon - Nursery Rhymes,6.874198,United States,US,Education,1.098612,21.403834,13.109888,15.882373,15.590463,18.367280,13.815512,7.604396,Sep,0.693147,4.490881,19.609254,2.753661,19.416385
4,1.791759,SET India,18.884415,25.720478,Shows,SET India,11.665964,India,IN,Entertainment,1.386294,21.324298,13.030031,15.803385,15.520259,18.287149,13.815512,7.604396,Sep,3.044522,3.370738,21.035458,1.850028,19.970436

###Quantile q1 q3 replacement

In [96]:
for i in df.columns:
  if df[i].dtype != 'object':
    Q1 = df[i].quantile(0.25)
    Q3 = df[i].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = df[(df[i] < lower_bound) | (df[i] > upper_bound)]
    outlier_count = len(outliers)
    print(i.ljust(40, ' '), outlier_count)

rank                                     47
subscribers                              38
video views                              30
uploads                                  96
video_views_rank                         159
video_views_for_the_last_30_days         109
lowest_monthly_earnings                  168
highest_monthly_earnings                 168
lowest_yearly_earnings                   168
highest_yearly_earnings                  168
subscribers_for_last_30_days             148
created_year                             1
created_date                             36
Gross tertiary education enrollment (%)  7
Population                               44
Unemployment rate                        0
Urban_population                         28

In [97]:
for i in df.columns:
  if df[i].dtype != 'object':
    Q1 = df[i].quantile(0.25)
    Q3 = df[i].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    df[i] = df[i].apply(lambda x: Q1 if x < lower_bound else (Q3 if x > upper_bound else x))

    outliers = df[(df[i] < lower_bound) | (df[i] > upper_bound)]
    outlier_count = len(outliers)
    print(i.ljust(40, ' '), outlier_count)

rank                                     0
subscribers                              0
video views                              0
uploads                                  0
video_views_rank                         0
video_views_for_the_last_30_days         0
lowest_monthly_earnings                  0
highest_monthly_earnings                 0
lowest_yearly_earnings                   0
highest_yearly_earnings                  0
subscribers_for_last_30_days             0
created_year                             0
created_date                             0
Gross tertiary education enrollment (%)  0
Population                               0
Unemployment rate                        0
Urban_population                         0

#Duplicate

In [98]:
df_copy = df.copy()

This function identifies duplicate rows based on all columns (by default) or a subset of columns and returns a Boolean Series indicating which rows are duplicates.

In [99]:
df.duplicated(subset=None, keep = 'first')

0      False
1      False
2      False
3      False
4      False
       ...
990    False
991    False
992    False
993    False
994    False
Length: 994, dtype: bool

In [100]:
df = df_copy.copy()

This function removes duplicate rows based on all columns (by default) or a subset of columns. You can specify which duplicates to keep using the keep parameter ('first', 'last', or False).

In [101]:
df.drop_duplicates(subset=None, keep='first', inplace=False)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,video_views_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population
0,5.522459,T-Series,17.018257,23.330300,Music,T-Series,9.907629,India,IN,Music,5.780729,21.537745,13.243875,16.012735,15.732433,18.501339,12.611541,7.604396,Mar,2.639057,3.370738,21.035458,1.850028,19.970436
1,5.522459,YouTube Movies,17.018257,22.182518,Film & Animation,youtubemovies,5.279387,United States,US,Games,8.184650,16.825649,7.910466,10.685118,10.397444,13.169238,11.512935,7.604396,Mar,1.791759,4.490881,19.609254,2.753661,19.416385
2,5.522459,MrBeast,17.018257,24.068557,Entertainment,MrBeast,6.609349,United States,US,Entertainment,3.891820,21.021888,12.727841,15.501910,15.201805,17.985272,12.611541,7.607381,Feb,3.044522,4.490881,19.609254,2.753661,19.416385
3,5.522459,Cocomelon - Nursery Rhymes,17.018257,23.330300,Education,Cocomelon - Nursery Rhymes,6.874198,United States,US,Education,5.780729,21.403834,13.109888,15.882373,15.590463,18.367280,13.815512,7.604396,Sep,2.197225,4.490881,19.609254,2.753661,19.416385
4,5.522459,SET India,17.018257,23.330300,Shows,SET India,11.665964,India,IN,Entertainment,5.780729,21.324298,13.030031,15.803385,15.520259,18.287149,13.815512,7.604396,Sep,3.044522,3.370738,21.035458,1.850028,19.970436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,6.899723,Natan por Aï¿,16.325110,22.923775,Sports,Natan por Aï¿,7.090910,Brazil,BR,Entertainment,6.265301,20.129988,11.835741,14.603968,14.346139,17.092655,13.458837,7.609862,Feb,2.564949,3.956996,19.174732,2.571084,19.026316
991,6.900731,Free Fire India Official,16.325110,21.238727,People & Blogs,Free Fire India Official,7.313887,India,IN,Games,8.722906,17.985813,9.692828,12.464201,12.176649,14.946913,12.611541,7.610358,Sep,2.708050,3.370738,21.035458,1.850028,19.970436
992,6.901737,Panda,16.325110,21.518376,Entertainment,HybridPanda,7.805067,United Kingdom,GB,Games,11.767614,16.825649,7.910466,10.685118,10.397444,13.169238,11.512935,7.604396,Sep,2.484907,4.110874,18.017729,1.578979,17.839224
993,6.902743,RobTopGames,16.325110,22.182518,Gaming,RobTopGames,3.688879,Sweden,SE,Games,10.466327,15.169024,6.876265,9.648660,9.358847,12.132431,11.512935,7.607381,May,2.302585,4.219508,18.651904,2.012233,18.196634
994,6.903747,Make Joke Of,16.325110,21.479282,Comedy,Make Joke Of,4.143135,India,IN,Comedy,8.427050,16.993564,8.699681,11.472114,11.184435,13.997833,11.512935,7.609862,Aug,2.197225,3.370738,21.035458,1.850028,19.970436